<div class="container-fluid">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Mo$_Mo_Prob$</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="google.com">Login</a></li>
            </ul>
        </div>
    </nav>
</div>

